.add-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.add-product-btn {
    padding: 10px 50px;
    background-color: #04AA6D;
    border: none;
    font-size: 22px;
    color: #ffffff;
}

.add-image-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.delete-product-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    width: 200px;
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.gallery-title {
    text-align: center;
    margin-bottom: 10px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap: 20px;
    list-style: none;
    margin: 0;
    list-style-type: none;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 120px;
    /* Constrain the box width */
    text-align: center;
    /* Center-align content inside the box */
    word-wrap: break-word;
    display: inline-block;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 5px;
    display: block;
}

.image-name {
    display: block;
    max-width: 100%;
    /* Keep within the container */
    white-space: normal;
    /* Allow wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Truncate long words */
}