.horizontal-container-diary {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.horizontal-container-diary>* {
    flex: 1;
    margin: 10px 0;
}

.add-gift-button-diary {
    padding: 10px 50px;
    background-color: #04AA6D;
    border: none;
    font-size: 22px;
    color: #ffffff;
}